	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;}
	.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#E5EEBB;}
	.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFDC62;}
	.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FFF2CD;}
	.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#EFEFEF;}
	.st5{display:none;}
	.st6{display:inline;}
	.st7{fill:none;stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st8{display:inline;fill:#231F20;}
	.st9{font-family:'Source Sans Pro'; font-weight: bold;}
	.st10{font-size:12.0192px;}
	.st11{display:inline;fill:none;stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st12{display:inline;fill:none;stroke:#231F20;stroke-width:2.404;stroke-miterlimit:3.864;}
	.st13{fill:#231F20;}
	.st14{font-size:8.6677px;}
	.st15{font-family:'Source Sans Pro';}
	.st16{fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;}
	.st17{fill:none;stroke:#231F20;stroke-miterlimit:3.864;}
	.st18{fill:none;stroke:#231F20;stroke-width:2.404;stroke-miterlimit:3.864;}
	.st19{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st20{fill:none;stroke:#FFFFFF;stroke-width:3.606;stroke-miterlimit:3.864;}
	.st21{font-size:8.67px;}
	.st22{font-size:8.6676px;}
	.st23{font-family:'Source Sans Pro';font-style: italic;}
	.st24{fill:none;stroke:#FFF2CD;stroke-width:3.606;stroke-miterlimit:3.864;}
	.st25{fill:none;}
	.st26{font-size:14px;}
	.st27{font-size:8.6674px;}
	.st28{fill:url(#SVGID_1_);stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st29{font-size:7.7046px;}
	.st30{fill:none;stroke:#231F20;stroke-width:3;stroke-miterlimit:3.864;}
	.st31{fill-rule:evenodd;clip-rule:evenodd;fill:#FCB96A;stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st32{fill:url(#SVGID_2_);stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st33{fill-rule:evenodd;clip-rule:evenodd;fill:#E5EEBB;stroke:#231F20;stroke-width:1.202;stroke-miterlimit:3.864;}
	.st34{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_3_);}
	.st35{fill-rule:evenodd;clip-rule:evenodd;fill:#E2E5F3;}
	.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#F79D8B;}
	.st37{fill-rule:evenodd;clip-rule:evenodd;fill:#E1DAEC;}
	.st38{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_4_);}
	.st39{font-size:28.846px;}